<div class="banner" style="background-image:  url(https://i.ibb.co/VBMSmfT/AA031-1.jpg);">
  <div class="container">
    <h1>Mister Miss Cocktail</h1>
  </div>
</div>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail.id) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?<%= cocktail.name %>)">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>



