<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/images/AA031.jpg);">
  <div class="container">
    <h1>This is the Cocktail Index</h1>
  </div>
</div>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail.id) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?cocktail)">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>



